<template>
    <div >
         <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>About us</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><router-link :to="{name:'Home'}">Home</router-link></li>
          <li><span>About Us</span></li>
        </ul>
      </div>
    </section>
        <section class="about-tab-box sectpad">
      <div class="container clearfix">
        <div class="row">
          <div class="col-sm-4 col-lg-3">
            <div class="tab-title-box">
              <ul role="tablist" class="clearfix">
                <li data-tab-name="history"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Our VISION</a></li>
                <li data-tab-name="mission" class="active"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">Our VALUES</a></li>
                <li data-tab-name="vision"><a href="#vision" aria-controls="vision" role="tab" data-toggle="tab">Our MISSION</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-8 col-lg-9">
            <div class="tab-content-box tab-content about-tab">
              <div id="history" class="single-tab-content tab-pane fade">
                <h2>Our VISION</h2>
                <p>Our vision is to be the source of renewable energy supply to 1 million  household and 5 thousand industries by 2030</p>
                <div class="row">
                  <div class="col-sm-12 abot-img"><img width="370" height="178" src="images/services/solar-training-banner.jpg" alt="" class="img-responsive">
                </div>
                </div>
              </div>
              <div id="mission" class="single-tab-content tab-pane fade in active">
                <h2>Our VALUES</h2>
                <p>Our values include Godliness, honesty, dedication and  customers satisfaction </p>
                <div class="row">
                  <div class="col-sm-12 abot-img"></div>
                </div>
              </div>
              <div id="vision" class="single-tab-content tab-pane fade">
                <h2>Our MISSION</h2>
                <p>Our Mission is to help our customers save costs with a view to bringing down their operating costs 
                  thereby positively impacting the cost of their products and services to their general community</p>
                <div class="row">
                  <div class="col-sm-12 abot-img"><img src="images/services/ser-img4.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <div class="features-section">
      <div class="features-image"><img src="images/services/about-bg.jpg" alt=""></div>
      <div class="features-area">
        <div class="features">
          <div class="features-content">
            <div class="media">
              <div class="media-left"><a href="#"><img src="images/features/icon2.png" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">World-Class Quality Products</h4>
                <p>25 years guarantee on solar panels and at least 3 years guarantee on accessories</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href="#"><img src="images/features/hand.png" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">Attractive Return on Investment</h4>
                <p>On all our products range. Our customers will always pay less and earn more on their investment. We offer value for money</p>
              </div>
            </div>
          </div>
          <div class="features-content">
            <div class="media">
              <div class="media-left"><a href="#"><img src="images/features/phone.png" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">Customer Satisfaction</h4>
                <p>Our products and services are tailored to meet your needs, no matter your energy requirements</p>
              </div>
            </div>
            <div class="media">
              <div class="media-left"><a href="#"><img src="images/features/icon.png" alt=""></a></div>
              <div class="media-body">
                <h4 class="media-heading">Dedicated Maintenance team </h4>
                <p>We have dedicated engineers ready to serve your request at any instant</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- Team-->
    <section class="sectpad team-area">
      <div class="container clearfix">
        <div class="section_header color">
          <h2>Our Dedicated Team</h2>
        </div>
        <div class="row">
          <div class="our-team">
            <div class="col-sm-6 col-md-3 team">
              <div class="team-images row m0"><img src="images/ceo-bg.jpeg" alt=""></div>
              <ul class="nav social-icons">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
              </ul>
              <div class="team-content"><a href="#">
                  <h4>Olaoluwa Adegoke</h4></a>
                <p>CEO</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="our-client sectpad">
      <div class="container clearfix">
        <div class="section_header">
          <h2>Our Partners</h2>
        </div>
        <div class="client-carousel">
          <div class="client-slider">
            <div class="item"><img src="images/partners/funaab.png" alt=""></div>
            <div class="item"><img src="images/partners/simba.png" alt=""></div>
            <div class="item"><img src="images/partners/lautech.png" alt=""></div>
            <div class="item"><img src="images/partners/10.jpg" alt=""></div>
            <div class="item"><img src="images/partners/11.jpg" alt=""></div>
            <div class="item"><img src="images/partners/12.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        mounted() {
        this.initiateSlider();
        this.closeMenuBar();
        },
        methods:{
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
            initiateSlider(){
                setTimeout(()=>{
   $('.testimonial-sliders').owlCarousel({
		loop: false,
		margin: 30,
		items: 2,
		nav: true,
		dots:false,
		navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
		responsiveClass: true,
		responsive: {
				0: {
						items: 1
				},
				1200: {
						items: 2
				},
				1024: {
						items: 2
				}
		}
})
$('.client-slider').owlCarousel({
		loop: true,
		margin: 27,
		nav: false,
		dots: false,
		autoWidth: true,
		autoplay: true,
		responsive: true,
		autoplayTimeout: 3000,
		autoplayHoverPause: true,
		responsive: {
				0: {
						items: 1,
						autoWidth: false
				},
				480: {
						items: 2,
						autoWidth: false
				},
				600: {
						items: 3,
						autoWidth: false
				},
				1000: {
						items: 6,
						autoWidth: false
				}
		}
})
                },500);
            }
        }
    }
</script>
