<template>
    <div >
      <loading-component v-if="loading"></loading-component>
         <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Cart Page</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><a href="index.html">Home</a></li>
          <li><span>Cart Page</span></li>
        </ul>
      </div>
    </section>
    <!-- News Page-->
    <section class="cart-page">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-6 col-lg-offset-0 col-md-offset-0 col-sm-offset-3">
            <table class="table cart-table">
              <thead>
                <tr>
                  <th class="preview">Preview</th>
                  <th class="product">Product</th>
                  <th class="price">Price</th>
                  <th class="quantity">Quantity</th>
                  <th class="total">Total</th>
                  <th class="del-item"> </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(product, index) in cartProducts" :key="product.id">
                  <td class="preview"><img width="120" height="132" :src="transformProductPoster(product.poster)" alt=""></td>
                  <td class="product">{{product.product_name}}</td>
                  <td class="price">₦{{product.price}}</td>
                  <td class="quantity">
                    <div class="select-box">
                     <input type="number" class="form-control" :placeholder="product.quantity_cart" value="1" @keyup="showInput(cartProducts[index].idModel,index)" v-model="cartProducts[index].idModel" />
                    </div>
                  </td>
                  <td class="total">{{product.quantity_cart*product.price}}</td>
                  <td class="del-item"><i @click="removeProduct(product)" class="fa fa-close cursor-pointer"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row bottom-box">
          <div class="col-lg-6 col-md-6 col-sm-6 pull-left cupon-box">
            <input type="text" placeholder="cupon code">
            <button type="submit">Apply Cupon</button>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 pull-right add-to-cart-wrap"><router-link class="cart-btn" :to="{name:'Shop',query:{page:'1'}}">Add To Cart</router-link></div>
        </div>
        <div class="cart-total-box row">
          <div class="col-lg-5 col-sm-6 col-xs-12 pull-right">
            <ul>
              <li class="cart-total">Cart Total</li>
              <li class="sub-total">Sub Total <span>₦{{totalCartCost}}</span></li>
              <li class="total">Total <span>₦{{totalCartCost}}</span></li>
              <li class="proceed-to-checkout"><a @click="navigateToCheckOut" v-if="cartExist" class="cart-btn cursor-pointer">Proceed to checkout </a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                cartProducts : [],
                QuantityModel : 1,
                cartExist : false,
                loading: false,
            }
        },
         computed: {
    // a computed getter
    totalCartCost: function () {
                var currentObj = this;
        var totalCost = 0;
          _.forEach(currentObj.cartProducts, function(value) {
              totalCost = totalCost+(value.quantity_cart*value.price);
        });
        return totalCost;
    }
  },
        mounted() {
            this.closeMenuBar();
        },
        created(){
            this.checkCartState();
              bus.$on('product-removed', (removedProduct)=> {
        //remove product from cart 
       var currentObj = this;
          var newCart = [];
          _.forEach(currentObj.cartProducts, function(value) {
         if(value.id != removedProduct.id){
           newCart.push(value);
         }
        });
        this.cartProducts = newCart;
   showSuccess('Cart',"Item '"+removedProduct.product_name+"' removed successfully from your cart. Please check menu bar");
        });
        },
        methods:{
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
             checkCartState(){
               this.loading = true;
        axios.get(cart).then((response)=>{
          if(_.isArray(response.data)){
            if(response.data.length>0){
             this.cartProducts = response.data;
             this.cartExist = true;
            }
          }
          this.loading = false;
        }).catch((error)=>{
          this.loading = false;
          // showError('An error occured, please refresh page');
        });
    },
       transformProductPoster(poster){
                return productPoster+poster;
            },
            showInput(input,index){
                this.cartProducts[index].quantity_cart = input;
            },
               removeProduct(productToRemove){

      var successCallback = ()=>{ 
          this.loading = true;
        axios.get(removeFromCart.replace('%s',productToRemove.id)).then((response)=>{
          var currentObj = this;
          var newCart = [];
          _.forEach(currentObj.cartProducts, function(value) {
         if(value.id != productToRemove.id){
           newCart.push(value);
         }
        });
        this.cartProducts = newCart;
        if(this.cartProducts.length<=0){
          this.cartExist = false;
        }
        bus.$emit('product-removedHeader', productToRemove);
        this.loading = false;
          showSuccess('Cart',response.data.message);
        }).catch((error)=>{
          showError('An error occured, please try again');
        });
      };
      globalConfirmationDialog('Cart',"Do you wish to remove '"+productToRemove.product_name+"' from your cart",successCallback,null);
               },
               navigateToCheckOut(){
                 this.loading = true;
                 //send new cart state to sesssion
                 axios.post(storeCart,{
                   cart: this.cartProducts
                 }).then((response)=>{
                   this.loading = false;
                  this.$router.push('Checkout')
                 }).catch((error)=>{
                   this.loading = false;
                   showError('An error occured, please try again');
                 });
               }
        }
    }
</script>
