<template>
    <div >
      <loading-component v-if="loading"></loading-component>
       <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Checkout Page</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><router-link :to="{name:'Home'}">Home</router-link></li>
          <li><span>Checkout Page</span></li>
        </ul>
      </div>
    </section>
    <!-- News Page-->
    <section id="checkout-content" class="sec-padding">
      <div class="container">
          <div class="clearfix">
          <div class="col-lg-12 return-customer">
            <p v-if="anonymousUser">Returning customer? <a data-toggle="modal" data-target="#myModal" href="#">Click here to login</a></p>
            <p v-if="!anonymousUser">Welcome, {{authenticatedUser.first_name}}!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left-checkout">
            <div class="section_header color">
              <h2>BILLING DETAILS</h2>
            </div>
             <form v-if="anonymousUser" id="checkoutForm" >
            <div class="row">
              <div class="col-lg-6">
                <label>First Name <span>*</span></label>
                <input type="text" placeholder="First Name" v-model="firstName" name="first_name" required>
              </div>
              <div class="col-lg-6">
                <label>Last Name <span>*</span></label>
                <input type="text" placeholder="Last Name" v-model="lastName" name="last_name" required>
              </div>
            </div>
             <div class="row">
              <div class="col-lg-6">
                <label>Email Address <span>*</span></label>
                <input type="email" class="form-control" placeholder="Email Address" v-model="email" name="email" required>
              </div>
              <div class="col-lg-6">
                <label>Phone <span>*</span></label>
                <input type="text" placeholder="Phone" v-model="phone" name="phone" required>
              </div>
            </div>
              <div class="row">
              <div class="col-lg-6">
                <label>Password <span>*</span></label>
                <input type="password" id="password" class="form-control" v-model="cleanPassword" placeholder="Password" name="password" required>
              </div>
              <div class="col-lg-6">
                <label>Confirm Password <span>*</span></label>
                <input type="password"  class="form-control" v-model="password" placeholder="Confirm Password" name="cpassword" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label>Address <span>*</span></label>
                <input type="text" placeholder="Street address" v-model="address" name="address" required>
                <input type="text" placeholder="Apartment, Suit unit etc (optional)" v-model="moreAddress">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label>Town / City <span>*</span></label>
                <input type="text" placeholder="Town / City" name="town" v-model="town" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label>State / Country <span>*</span></label>
                <div class="select-box">
                  <select name="selectMenu" class="form-control" v-model="country" required>
                    <option value="Nigeria">Nigeria</option>
                  </select>
                </div>
              </div>
            </div>
           
            <div class="row">
              <div class="col-lg-12">
                <label>Order Notes</label>
                <textarea v-model="note" placeholder="Note about your order. e.g. special note for delivery"></textarea>
              </div>
            </div>
             <div class="clearfix">
          <div class="col-lg-12 return-customer">
            <p>An account will be created for you using your billing details if no account is associated with the provided email</p>
          </div>
        </div>
        </form>
        <div v-if="!anonymousUser">
          <p>First Name: <span class="pull-right">{{authenticatedUser.first_name}}</span></p>
          <p>Last Name: <span class="pull-right">{{authenticatedUser.last_name}}</span></p>
          <p>Phone Number: <span class="pull-right">{{authenticatedUser.phone_number}}</span></p>
          <p>Email: <span class="pull-right">{{authenticatedUser.email}}</span></p>
          <p>Address: <span class="pull-right">{{authenticatedUser.address}}</span></p>
          <p>Country: <span class="pull-right">{{authenticatedUser.country}}</span></p>
           <div class="row">
              <div class="col-lg-12">
                <label>Order Notes</label>
                <textarea v-model="note" placeholder="Note about your order. e.g. special note for delivery"></textarea>
              </div>
            </div>
                      <div style="margin-top:20px; text-align:center;">  <button @click="logOutUser" class="btn btn-danger cursor-pointer"> Sign out </button>    </div>         
          </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 col-sm-offset-0 col-xs-offset-0 right-checkout">
            <div class="row">
              <div class="section_header color">
                <h2>YOUR ORDER</h2>
              </div>
              <div class="col-lg-12 order-box">
                <ul>
                  <li>PRODUCT <span>TOTAL</span></li>
                  <li v-for="product in cartProducts" :key="product.id">{{product.product_name}} X {{product.quantity_cart}} 
                      <span>{{product.quantity_cart*product.price}}</span></li>
                  <li>SUBTOTAL <span class="bold">₦{{totalCartCost}}</span></li>
                  <li>Shipping and Handling <span>TBD</span></li>
                  <li class="total">TOTAL <span class="bold">₦{{totalCartCost}}</span></li>
                  <li>
                    <input type="radio" checked> Pay on Delivery
                    <div class="note">
                      <div class="i fa fa-caret-up"></div>
                      Payment to be made on delivery or stated otherwise. 
                    </div>
                  </li>
                  <li v-if="cartExist" class="place-order-button clearfix">
                    <a @click="placeOrder" class="thm-btn cursor-pointer"> place order </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:15%;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Customer Login</h4>
      </div>
      <div class="modal-body">
          <form id="loginForm" >
            <div class="row">
              <div class="col-lg-12">
                <label>Email <span>*</span></label>
                <input type="email" class="form-control" placeholder="First Name" v-model="loginEmail" name="email" required>
              </div>
              <div class="col-lg-12">
                <label>Password<span>*</span></label>
                <input type="password" class="form-control" placeholder="password" v-model="loginPassword" name="password" required>
            <div style="margin-top:20px; text-align:center;">  <button @click="prepLoginFormValidation" class="btn btn-danger cursor-pointer"> Login </button>    </div>         
              </div>
            </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      cartProducts: [],
      authenticatedUser:{},
      loading:false,
      cartExist: false,
      anonymousUser: true,
      firstName: "",
      lastName: "",
      email: "",
      phone: "",
      note: "",
      password: "",
      address: "",
      moreAddress: "",
      country: "Nigeria",
      cleanPassword:'',
      loginEmail:'',
      loginPassword:'',
      town: ""
    };
  },
  computed: {
    // a computed getter
    totalCartCost: function() {
      var currentObj = this;
      var totalCost = 0;
      _.forEach(currentObj.cartProducts, function(value) {
        totalCost = totalCost + value.quantity_cart * value.price;
      });
      return totalCost;
    }
  },
  created() {
    this.checkCartState();
    this.checkAuthentication();
     bus.$on('product-removed', (removedProduct)=> {
        //remove product from cart 
       var currentObj = this;
          var newCart = [];
          _.forEach(currentObj.cartProducts, function(value) {
         if(value.id != removedProduct.id){
           newCart.push(value);
         }
        });
        this.cartProducts = newCart;
   showSuccess('Cart',"Item '"+removedProduct.product_name+"' removed successfully from your cart. Please check new quotation");
        });
  },
  mounted() {
    this.prepFormValidation();
    this.prepLoginFormValidation();
    this.closeMenuBar();
  },
  methods: {
    closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
    logOutUser(){
      this.loading = true;
      axios.get(logOut).then((response)=>{
        this.anonymousUser = true;
        this.authenticatedUser = {};
        this.loading = false;
        var currentObj = this;
        _.forEach(currentObj.cartProducts, function(value) {
               bus.$emit('product-removedHeader', value);
        });
         this.cartProducts = [];
      }).catch((error)=>{
        this.loading = false;
      });
    },
    checkCartState() {
      axios
        .get(cart)
        .then(response => {
          if (_.isArray(response.data)) {
            if (response.data.length > 0) {
              this.cartProducts = response.data;
              this.cartExist = true;
            }
          }
        })
        .catch(error => {
          // showError("An error occured, please refresh page");
        });
    },
    checkAuthentication() {
      axios.get(checkUser).then((response)=>{
          if(response.data.authenticated){
          this.anonymousUser = false;
          this.authenticatedUser = response.data.user;
        }
      }).catch((error)=>{
      });
    },
    prepLoginFormValidation(){
      var checkoutComponent = this;
        $("#loginForm").validate({
            submitHandler: function(form) {
          checkoutComponent.authenticateUser();
        }
        });
    },
    authenticateUser(){
      this.loading = true;
      axios.post(authenticateUser,{
        email:this.loginEmail,
        password:this.loginPassword,
      }).then((response)=>{
        this.loading = false;
        if(response.data.authenticated){
          this.anonymousUser = false;
          this.authenticatedUser  = response.data.user;
          this.cartProducts = response.data.cart;
          var currentObj = this;
            _.forEach(currentObj.cartProducts, function(value) {
               bus.$emit('cart-added', product);
        });
          showSuccess('Authentication','Your authentication was successful');
          setTimeout(() => {
              $('.btn-default').click();
          }, 800);
        
        }
        else{
          showInfo('Incorrect email or password');
        }
      }).catch((error)=>{
        this.loading = false;
        location.reload();
      });
    },
    prepFormValidation() {
      var checkoutComponent = this;
      $("#checkoutForm").validate({
        rules: {
          first_name: {
            required: true,
            minlength: 2
          },
          last_name: {
            required: true,
            minlength: 2
          },
          password: {
            required: true,
            minlength: 2
          },
          cpassword: {
            equalTo: "#password"
          },
          phone: {
            required: true,
            minlength: 2
          },
          email: {
            required: true,
            email: true
          },
          address: {
            required: true
          }
        },
        messages: {
          first_name: {
            required: "Please provide your first name",
            minlength: "your name must consist of at least 2 characters"
          },
          last_name: {
            required: "Please provide your last name",
            minlength: "your name must consist of at least 2 characters"
          },
          phone: {
            required: "Please provide phone number",
            minlength: "your phone number must consist of at least 2 characters"
          },
          email: {
            required: "Please provide an email"
          }
        },
        submitHandler: function(form) {
          checkoutComponent.sendOrderToDb();
        }
      });
    },
    placeOrder() {
      if(this.anonymousUser){
      $("#checkoutForm").submit();
      }else{
         var successCallback = () => {
        this.loading = true;
        axios
          .post(storeOrder, {
           note:this.note
          })
          .then(response => {
            this.loading = false;
            if (response.data.action) {
            this.note = '';
              var currentObj = this;
        _.forEach(currentObj.cartProducts, function(value) {
               bus.$emit('product-removedHeader', value);
        });
            this.cartProducts = [];
            this.cartExist  = false;
              showSuccess("Order", response.data.message);
            } else {
              showInfo(response.data.message);
            }
          })
          .catch(error => {
            this.loading = false;
            showError("An error occured, please try again");
          });
      };
      globalConfirmationDialog(
        "Order",
        "Do you wish to place this order?",
        successCallback,
        null
      );
      }
    },
    sendOrderToDb() {
      var successCallback = () => {
        this.loading = true;
        axios
          .post(storeOrder, {
            first_name: this.firstName,
            email: this.email,
            last_name: this.lastName,
            phone: this.phone,
            note: this.note,
            town: this.town,
            address: this.address,
            password: this.password,
            country: this.country,
            moreAddress: this.moreAddress,
          })
          .then(response => {
            this.loading = false;
            if (response.data.action) {
            this.firstName = '';
            this.email = '';
            this.lastName = '';
            this.phone = '';
            this.note = '';
            this.town = '';
            this.address = '';
            this.password = '';
            this.country = '';
            this.moreAddress = '';
            this.cartProducts = [];
            this.cartExist  = false;
            this.cleanPassword = '';
              showSuccess("Order", response.data.message);
            } else {
              showInfo(response.data.message);
            }
          })
          .catch(error => {
            this.loading = false;
            showError("An error occured, please try again");
          });
      };
      globalConfirmationDialog(
        "Order",
        "Do you wish to place this order?",
        successCallback,
        null
      );
    }
  }
};
</script>
