<template>
    <div >
         <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Contact Us</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><router-link :to="{name:'Home'}">Home</router-link></li>
          <li><span>Contact Us</span></li>
        </ul>
      </div>
    </section>
    <!-- Contact us Page-->
      <!-- Contact us Page-->
    <section class="core-projects touch">
      <div class="sectpad touch_bg">
        <div class="container clearfix">
          <h1>Stay connected</h1>
          <p>Use the form below to send us a message</p>
          <h6>Please be patient, We will get back to you. Our 24/7 Support, <span>General Inquiries Phone: + (234) 810 502 0388</span></h6>
          <div class="row touch_middle">
            <div class="col-md-4 open_hours">
              <div class="touch_top-con">
                <ul class="nav">
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-map-marker"></i></a></div>
                      <div class="media-body">  TmeLine Plaza FUNAAB Road, Abeokuta
                              35, Abiola-Way Beside Albarka Mosque</div>
                    </div>
                  </li>
                  <li class="item">
                    <div class="media">
                      <div class="media-left"><a href="#"><i class="fa fa-envelope-o"></i></a></div>
                      <div class="media-body"><a href="mailto:info@oicsolar.net"></a><a href="mailto:info@oicsolar.net">info@oicsolar.net</a></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8 input_form">
              <form id="contactForm">
                <input id="name" type="text" name="name" v-model="name" placeholder="First" required class="form-control">
                <input id="email" type="email" name="email" v-model="email" placeholder="Email" required class="form-control">
                <input id="subject" type="text" name="subject" v-model="subject" placeholder="Subject" required class="form-control">
                <textarea id="message" rows="6" name="message" v-model="message" placeholder="Message" required class="form-control"></textarea>
                <div class="row m0">
                  <button @click="validateForm" class="btn btn-default submit">Submit Now <i class="fa fa-angle-double-right"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name:'',
                email: '',
                subject: '',
                message: '',
            }
        },
        mounted() {
            var contactUsComponent = this;
           $('#contactForm').validate({
                 submitHandler: function(form) {
          contactUsComponent.submitContactForm();
        }
           });
           this.closeMenuBar();
        },
        methods:{
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
            validateForm(){
                $('#contactForm').validate({
                 submitHandler: function(form) {
          contactUsComponent.submitContactForm();
        }
           });
            },
                submitContactForm(){
                      var successCallback = () => {
        this.loading = true;
        axios
          .post(storeContactForm, {
            name: this.name,
            email: this.email,
            subject: this.subject,
            message: this.message,
          })
          .then(response => {
            this.loading = false;
            if (response.data.action) {
            this.name = '';
            this.email = '';
            this.subject = '';
            this.message = '';
              showSuccess("Contact Us", response.data.message);
            } else {
              showInfo(response.data.message);
            }
          })
          .catch(error => {
            this.loading = false;
            showError("An error occured, please try again");
          });
      };
      globalConfirmationDialog(
        "Contact Form",
        "Do you wish to submit this contact form ?",
        successCallback,
        null
      );
                }
        }
    }
</script>
