<template>
<div>
 <!-- Indurial Solution-->
     <section class="indurial-t-solution indurial-solution indpad anim-5-all indurial-t-solution3">
            <div class="container clearfix">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="indurial-solution-text text-center">
                    <h2>If  You Need Any Solar Solution ... We Are Available For You</h2><span class="contactus-button2 text-center">
                      <router-link :to="{name:'Contact'}" class="submit">Contact Us </router-link></span>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Indurial Solution-->
          <footer class="sec-padding footer-bg footer-bg3">
            <div class="container clearfix">
              <div class="row">
                <div class="widget about-us-widget col-md-3 col-sm-6"><a href="#"><img src="images/logo-2.png" alt=""></a>
                  <p>We have a proven track record of delivering  exceptional results with attractive ROI on every project executed</p>
                  <router-link :to="{name:'About'}">Read More <i class="fa fa-angle-double-right"></i></router-link>
                  <ul class="nav">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                  </ul>
                </div>
                <div class="widget widget-links col-md-3 col-sm-6">
                  <h4 class="widget_title">Our Solutions</h4>
                  <div class="widget-contact-list row m0">
                    <ul>
                       <li v-for="service in services" :key="service.id">
                           <router-link :to="{name:'Service',params:{id:service.id,caption:transformToKebab(service.name)}}">{{service.name}}</router-link>
                           </li>
                    </ul>
                  </div>
                </div>
                <div class="widget widget-links col-md-3 col-sm-6">
                  <h4 class="widget_title">Quick Links</h4>
                  <div class="widget-contact-list row m0">
                    <ul>
                      <li><router-link :to="{name:'WorkHistory'}">- Work History</router-link></li>
                      <li><router-link :to="{name:'About'}">- About Us</router-link></li>
                      <li><router-link :to="{name:'Shop',query:{page:1}}">- Shop</router-link></li>
                      <li><router-link :to="{name:'Gallery',query:{page:1}}">- Gallery</router-link></li>
                    </ul>
                  </div>
                </div>
                <div class="widget widget-contact col-md-3 col-sm-6">
                  <h4 class="widget_title">Get in Touch</h4>
                   <div class="widget-contact-list row m0">
                    <ul>
                      <li><i class="fa fa-map-marker"></i>
                        <div class="fleft location_address">
                             Ogun state, <br /> Nigeria
                              </div>
                      </li>
                      <li><i class="fa fa-phone"></i>
                        <div class="fleft contact_no"><a href="#">2348105020388</a></div>
                      </li>
                      <li><i class="fa fa-envelope-o"></i>
                        <div class="fleft contact_mail"><a href="mailto:info@oicsolar.net">info@oicsolar.net</a></div>
                      </li>
                      <li><i class="icon icon-Timer"></i>
                        <div class="fleft service_time">Mon - Sat : 8am to 4pm</div>
                      </li>
                    </ul>
                  </div> 
                </div>
                
              </div>
            </div>
          </footer>
          <section class="footer-t-bottom footer-bottom footer-bottom3">
            <div class="container clearfix">
              <div class="pull-left fo-txt">
                <p>Copyright © OICSolar 2017.. All rights reserved.</p>
              </div>
              <div class="pull-right fo-txt">
                <p>Created by: <a href="http://nano.ly1p.com.ng/">NanoTech</a></p>
              </div>
            </div>
          </section>
</div>
</template>
<script>
export default {
  data(){
    return {
      services : []
    }
  },
  mounted(){
    setTimeout(()=>{
this.selectMenu();
    },600);
  },
  created(){
     var currentObj = this;
        bus.$on('get-services', function (services) {
          currentObj.services = services;
        });
  },
  methods:{
    selectMenu() {
		if ($('.select-menu').length) {
				$('.select-menu').selectmenu();
		};
},
  transformToKebab(text){
        return _.kebabCase(text);
      }
  }
}
</script>