<template>
<div>
 <header id="header">
      <!-- Header Gray Band-->
      <section class="wel-t-band">
        <div class="container">
          <div class="row wel-band-bg">
            <div class="col-md-6 pull-left col col-sm-12">
              <p>Welcome to Leader in Solar Solution <span>since 2009</span></p>
            </div>
            <div class="col-md-6 pull-right text-right col-sm-12">
              <p>RC NO: <span>814913</span></p>
            </div>
          </div>
        </div>
      </section>
      <!-- Header Gray Band-->
      <!-- Logo Section-->
      <div class="container">
        <div class="row pad-logo logo-wrapper">
          <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12 t-logo"><router-link :to="{name:'Home'}"><img src="images/logo-pc.png" alt="logo" class="img-responsive"></router-link></div>
          <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12 text-right">
            <div class="top-two-right">
              <div class="top-panel">
                <div class="touch_top touch_top_pad">
                  <ul class="nav">
                    <li class="item item-phone">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Phone2"></i></a></div>
                        <div class="media-body">
                          <p>+ (234) 810 502 0388<br><span><a href="mailto:info@oicsolar.net">info@oicsolar.net</a></span></p>
                        </div>
                      </div>
                    </li>
                    <li class="item item-ad">
                      <div class="media">
                        <div class="blue-color media-left"><a href="#"><i class="icon icon-Pointer"></i></a></div>
                        <div class="media-body">
                          <p>Ogun State, <br><span>Nigeria</span></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
      <div class="main_menu menu_fixed nav-home-three">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
              <div class="logo"><img src="images/logo-mobile.png" alt=""></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="nav-menu pull-left text-left">
                <div class="nav-t-holder pull-left text-left">
                  <div class="nav-t-header">
                    <button id="nav-button"><i class="fa fa-bars"></i></button>
                  </div>
                  <div class="nav-t-footer">
                    <ul class="nav">
                      <li class="">
                          <router-link :to="{name:'Home'}">Home</router-link>
                      </li>
                       <li class="has-t-submenu">
                         <router-link :to="{name:'WorkHistory'}">Work&nbsp;History
                         </router-link>
                         <ul class="submenu">
              <li><router-link :to="{name:'About'}">about us</router-link></li>

                           </ul>
                         </li>
                      <li class="has-t-submenu"><a href="#">solutions</a>
                        <ul class="submenu">
                          <li v-for="service in services" :key="service.id">
                           <router-link :to="{name:'Service',params:{id:service.id,caption:transformToKebab(service.name)}}">{{service.name}}</router-link>
                           </li>
                        </ul>
                      </li>
                      <li class="has-t-submenu"><router-link :to="{name:'Shop',query:{page:'1'}}">Shop</router-link>
                        <ul class="submenu">
                          <li><router-link :to="{name:'Cart'}">Cart Page</router-link></li>
                          <li><router-link :to="{name:'Checkout'}" v-if="cartExist">Checkout Page</router-link></li>
                        </ul>
                      </li>
                      <li><router-link :to="{name:'Gallery',query:{page:1}}">Gallery</router-link></li>
                      <li><router-link :to="{name:'Contact'}">contact us</router-link></li>
                       <li class="has-t-submenu"><router-link :to="{name:'Cart'}"><i class="icon icon-ShoppingCart"></i> My Cart 
                        <span class="item-count">{{cartProducts.length}}</span>
                       </router-link>
                       <ul class="submenu">
                       <li v-for="cart in cartProducts" :key="cart.id">
              <div class="media-left"> <router-link :to="{name:'Product',params:{id:cart.id,name:transformToKebab(cart.product_name)}}" class="thumb"> <img :src="transformProductPoster(cart.poster)" class="img-responsive" alt="" > </router-link> </div>
              <div class="media-body"> <router-link :to="{name:'Product',params:{id:cart.id,name:transformToKebab(cart.product_name)}}" class="cart-title">{{cart.product_name}}</router-link>  </div>
              <div class="media-right"><a @click="removeProduct(cart)" class="cart-title cursor-pointer"><i class="icon icon-Delete"></i></a></div>
            </li>
                        <li class="btn-cart"> <router-link :to="{name:'Cart'}" class="btn-round">View Cart</router-link> </li>
                          </ul>
                       </li>
                    </ul>
                    <div class="mobile-link">
                      <div class="widget-t widget-t-search">
                        <div class="widget-t-inner">
                          <form class="search-form">
                            <div class="input-group">
                              <input type="search"  v-model="search" placeholder="Search" class="form-control"><span class="input-group-addon">
                                <button @click="navigateToSearch" ><i class="icon icon-Search"></i></button></span>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nav-search pull-right text-right">
                <div class="widget-t widget-t-search">
                  <div class="widget-t-inner">
                    <form  class="search-form">
                      <div class="input-group">
                        <input v-model="search" type="search" placeholder="Search" class="form-control"><span class="input-group-addon">
                          <button @click="navigateToSearch"><i class="icon icon-Search"></i></button></span>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <loading-component v-if="loading"></loading-component>
</div>
</template>
<script>
export default {
  data(){
    return {
      loading : true,
      services : [],
      cartProducts: [],
      cartExist: false,
      search:'',
      toggleSearch: false
    }
  },
  created(){
    this.search = this.$route.query.q;
    axios.get(getServices).then((response)=>{
      this.loading = false;
      this.services = response.data;
      bus.$emit('get-services', response.data);
    }).catch((error)=>{
      // showError('An error occured. Please refresh page');
    });
    this.checkCartState();
    var currentObj = this;
    var switchCart = true;
      bus.$on('cart-added', function (addedProduct) {
        //check if product already exist in cart
        _.forEach(currentObj.cartProducts, function(value) {
            if(value.id==addedProduct.id){
              switchCart = false;
            }
});
//add if product is not in cart
if(switchCart){
        currentObj.cartProducts.push(addedProduct);
}
  
    currentObj.cartExist = true;
   showSuccess('Cart',"Item '"+addedProduct.product_name+"' added successfully to your cart. Please check menu bar");
        });
         bus.$on('product-removedHeader', (removedProduct)=> {

           var currentObj = this;
          var newCart = [];
          _.forEach(currentObj.cartProducts, function(value) {
         if(value.id != removedProduct.id){
           newCart.push(value);
         }
        });
        this.cartProducts = newCart;
        if(this.cartProducts.length<=0){
          this.cartExist = false;
        }

         });
  },
    mounted(){
            // initiate lazy Loading
        $('.lazy').lazy();
        //sticky header
        $(window).on('scroll',()=> {
				this.stickyHeader();
        this.menuSticky();
      });
       this.mobileNavToggler();
       var currentObj = this;
       $('.search-form').submit(
         currentObj.navigateToSearch()
       );
    },
    methods:{
      navigateToSearch(){
        if(this.toggleSearch){
        if(this.search.trim().length>2){
          this.$router.push({ name: 'Search', query: { q: encodeURIComponent(this.search.trim()) }});
        }
        else{
          showInfo('Please enter at least two characters');
        }
        }
        this.toggleSearch = true;
      },
      stickyHeader(){
    	if ($('.stricky').length) {
				var strickyScrollPos = 100;
				if ($(window).scrollTop() > strickyScrollPos) {
						$('.stricky').removeClass('fadeIn animated');
						$('.stricky').addClass('stricky-fixed fadeInDown animated');
				} else if ($(window).scrollTop() <= strickyScrollPos) {
						$('.stricky').removeClass('stricky-fixed fadeInDown animated');
						$('.stricky').addClass('slideIn animated');
				}
		};
      },
      menuSticky(){
if ($('.menu_fixed.main_menu').length) {
		var sticky = $('.menu_fixed.main_menu'),
				scroll = $(window).scrollTop();

		if (scroll >= 190) sticky.addClass('fixed');
		else sticky.removeClass('fixed');    
	};
      },
      mobileNavToggler(){
        if ($('.nav-t-holder').length) {
		$('.nav-t-holder .nav-t-header button').on('click', function () {
			$('.nav-t-holder .nav-t-footer').slideToggle();
			return false;
		});
		$('.nav-t-holder li.has-t-submenu').children('a').append(function () {
			return '<button class="dropdown-expander"><i class="fa fa-chevron-down"></i></button>';    			
		});
		$('.nav-t-holder .nav-t-footer .dropdown-expander').on('click', function () {
			var Self =  $(this).parent().parent().children('.submenu');
			if(Self.hasClass('dopdown-nav-toggler-active'))
			{
				Self.removeClass('dopdown-nav-toggler-active');
				$(".nav ul.submenu").fadeOut();
			}
			else
			{
				$(".nav ul.submenu").fadeOut();
				$(".nav ul.submenu").removeClass('dopdown-nav-toggler-active');
				Self.addClass('dopdown-nav-toggler-active');
				Self.slideToggle();
			}
			return false;
		});

	}
      },
       transformProductPoster(poster){
                return productPoster+poster;
            },
      transformToKebab(text){
        return _.kebabCase(text);
      },
      checkCartState(){
        axios.get(cart).then((response)=>{
          if(_.isArray(response.data)){
            if(response.data.length>0){
             this.cartProducts = response.data;
             this.cartExist = true;
            }
          }
        }).catch((error)=>{
          // showError('An error occured, please refresh page');
        });
    },
      removeProduct(productToRemove){

       var successCallback = ()=>{ 
          this.loading = true;
         axios.get(removeFromCart.replace('%s',productToRemove.id)).then((response)=>{
          var currentObj = this;
          var newCart = [];
          _.forEach(currentObj.cartProducts, function(value) {
         if(value.id != productToRemove.id){
           newCart.push(value);
         }
        });
        this.cartProducts = newCart;
        if(this.cartProducts.length<=0){
          this.cartExist = false;
        }
        bus.$emit('product-removed', productToRemove);
        this.loading = false;
          showSuccess('Cart',response.data.message);
        }).catch((error)=>{
          this.loading = false;
          // showError('An error occured, please try again');
        });
      };
    globalConfirmationDialog('Cart',"Do you wish to remove '"+productToRemove.product_name+"' from your cart",successCallback,null);
      }
    }
}
</script>