<template>
             <!-- Our Projects-->
          <section class="our-galler-htwo clearfix sectpad">
            <div class="container clearfix">
              <div class="section_header3 section_header2 common">
                <h2>Our Gallery</h2>
              </div>
            </div>
            <div class="fullwidth-silder">
              <div class="fullwidth-slider">
                <div v-for="item in gallery" :key="item.id" class="item">
                  <div class="img-holder"><a :href="transformPoster(item.poster)" class="tt-gallery-1 lightbox"><span class="tt-gallery-1-overlay"></span>
                      <div class="project-post-image image_hover">
                          <img width="270" height="196" :src="transformPoster(item.poster)" :alt="item.caption" class="zoom_img_effect">
                          <span class="tt-gallery-1-caption"><span class="tt-gallery-1-caption-table">
                              <span class="tt-gallery-1-caption-inner">
                                  <span class="tt-gallery-1-search"><i class="fa fa-image"></i>
                                  </span></span></span></span></div></a>
                                  </div>
                </div>
               
              </div>
            </div>
          </section>
          <!-- Lattest news-->
</template>

<script>
    export default {
        data(){
            return {
                gallery : []
            }
        },
        created(){
            this.fetchData();
        },
        mounted() {
        },
        methods:{
             transformPoster(text){
                return galleryPoster+text;
            },
               fetchData(){
                axios.get(getGallery,{
                   params:{ page:1
                   }
                }).then((response)=>{
                    if(response.data.data.length>0){
                 this.gallery = response.data.data;
                     setTimeout(()=>{
            this.fullwidthslider();
            },500);
                    }
                }).catch((error)=>{
                });
            },
            fullwidthslider (){
			$('.fullwidth-slider').owlCarousel({
					loop:true,
					margin:30,
					items:5,
					dots:false,
					nav: true,
					navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
					responsiveClass:true,
					responsive:{
							0:{
									items:1
							},
							481:{
									items:2
							},
							700:{
									items:2
							},
							992:{
									items:5,
							}
					}
            });   
            this.initiateLightBox();
},
initiateLightBox(){
    var activityIndicatorOn = function(){
    $('<div id="imagelightbox-loading"><div></div></div>').appendTo('body');
};
var activityIndicatorOff = function(){
    $('#imagelightbox-loading').remove();
};

/*close button functions*/
var closeButtonOn = function(instance){
    $('<button type="button" id="imagelightbox-close" title="Close"></button>').appendTo('body').on('click touchend', function(){ $(this).remove(); instance.quitImageLightbox(); return false; });
};
var closeButtonOff = function(){
    $('#imagelightbox-close').remove();
};

/*overlay*/
var overlayOn = function(){$('<div id="imagelightbox-overlay"></div>').appendTo('body');};
var overlayOff = function(){$('#imagelightbox-overlay').remove();};

/*caption*/
var captionOff = function(){$('#imagelightbox-caption').remove();};
var captionOn = function(){
    var description = $('a[href="' + $('#imagelightbox').attr('src') + '"] img').attr('alt');
    if(description.length)
        $('<div id="imagelightbox-caption">' + description +'</div>').appendTo('body');
};

/*arrows*/
var arrowsOn = function(instance, selector) {
    var $arrows = $('<button type="button" class="imagelightbox-arrow imagelightbox-arrow-left"><i class="fa fa-chevron-left"></i></button><button type="button" class="imagelightbox-arrow imagelightbox-arrow-right"><i class="fa fa-chevron-right"></i></button>');
    $arrows.appendTo('body');
    $arrows.on('click touchend', function(e) {
        e.preventDefault();
        var $this = $(this);
        if( $this.hasClass('imagelightbox-arrow-left')) {
            instance.loadPreviousImage();
        } else {
            instance.loadNextImage();
        }
        return false;
    });
};  
var arrowsOff = function(){$('.imagelightbox-arrow').remove();};    
        
var selectorG = '.lightbox';
if($(selectorG).length){
    var instanceG = $(selectorG).imageLightbox({
        quitOnDocClick: false,
        onStart:        function() {arrowsOn(instanceG, selectorG);overlayOn(); closeButtonOn(instanceG);},
        onEnd:          function() {arrowsOff();captionOff(); overlayOff(); closeButtonOff(); activityIndicatorOff();},
        onLoadStart:    function() {captionOff(); activityIndicatorOn();},
        onLoadEnd:      function() {$('.imagelightbox-arrow').css('display', 'block');captionOn(); activityIndicatorOff();}
    });     
}
}
        }
    }
</script>
