<template>
<div>
         <section class="container ind-common-pad2 clearfix">
            <div class="quality-wrapper text-center">
              <div class="vision tab-panel fade in">
                <h2>A high level Quality Control in compliance with National and International regulations and standards</h2>
                <p>
                      Our vision is to generate 1,000 MWH of power per day by 2025, from renewable sources
                </p>
              </div>
              <div class="values tab-panel fade hide">
                      <h2>A high level Quality Control in compliance with National and International regulations and standards</h2>
                      <p>
                      Our values include world-class quality Products, attractive return on investment, customer satisfaction, dedicated maintenance team, very affordable energy solution 
                </p>
              </div>
              <div class="mission tab-panel fade hide">
                      <h2>A high level Quality Control in compliance with National and International regulations and standards</h2>
                      <p>
                  To be a world-class green energy provider	
                </p>
              </div>
              <div class="vision-wrapper text-center">
                <ul>
                  <li><a id="vision" href="javascript:void(0)"><img src="images/services/ser-icon4.png" alt="">
                      <p>Vision</p></a></li>
                  <li><a id="values" href="javascript:void(0)"><img src="images/services/ser-icon5.png" alt="">
                      <p>Values</p></a></li>
                  <li><a id="mission" href="javascript:void(0)"><img src="images/services/ser-icon6.png" alt="">
                      <p>Mission</p></a></li>
                </ul>
              </div>
            </div>
          </section>
          
          </div>
</template>

<script>
    export default {
        mounted() {
            this.tabcontrolincompliance();
            // this.testimonialSlider();
        },
        methods:{
            tabcontrolincompliance()
            {
	$(".vision-wrapper li a").click(function(e){
		$(".quality-wrapper .tab-panel").addClass("hide");
		var tabId = $(this).attr("id");
		$("."+tabId).removeClass("hide");
		$("."+tabId).addClass("in");		
	})
        },
        testimonialSlider(){
            $('.testimonialn-slider').owlCarousel({
		loop: true,
		//margin:10,
		//nav:true,
		responsive: {
				0: {
						items: 1
				},
				600: {
						items: 1
				},
				1000: {
						items: 1
				}
		}
        });

        }
        }
    }
</script>
