<template>
<!-- =========home banner start============-->
    <div id="minimal-bootstrap-carousel" data-ride="carousel" class="carousel slide carousel-fade shop-slider full_width ver_new_1_slider">
            <!-- Wrapper for slides-->
            <div role="listbox" class="carousel-inner">

				<div v-for="(item, index) in slides" :key="item.id" v-bind:style="{'background-image':computeSlideBg(item.background_image)}"  v-bind:class="{ active: index==0,item:1==1 }">
                <div class="carousel-caption">
                  <div class="thm-container">
                    <div class="box valign-top">
                      <div class="content text-left pull-right">
                        <h1 data-animation="animated fadeInLeft" class="bnrfnt40"><span v-html="item.header"></span></h1>
                        <p data-animation="animated fadeInRight" class="pln_he"><span v-html="item.text"></span></p>
                        <router-link data-animation="animated fadeInUp" :to="{name:item.link_route_name_a}" class="view-all hvr-bounce-to-right slide_learn_btn btn btn0">{{item.link_text_a}}</router-link>
						<router-link data-animation="animated fadeInUp" :to="{name:item.link_route_name_b}"  class="view-all hvr-bounce-to-right slide_learn_btn btn">{{item.link_text_b}}</router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- Controls--><a href="#minimal-bootstrap-carousel" role="button" data-slide="prev" class="left carousel-control"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a><a href="#minimal-bootstrap-carousel" role="button" data-slide="next" class="right carousel-control"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a>
          </div>
          <!-- =========home banner end============-->
</template>
<script>
export default{
	created(){
		this.getSlidesData();
	},
    mounted(){
        this.revolutionSliderActiver();
        this.bootstrapAnimatedLayer();
	},
	data(){
    return {
      slides : []
    }
  },
    methods:{
	getSlidesData() {
      axios
        .get(slides)
        .then(response => {
          if (_.isArray(response.data)) {
            if (response.data.length > 0) {
              this.slides = response.data;
            }
          }
        })
        .catch(error => {
          // showError("An error occured, please refresh page");
        });
	},
	computeSlideBg(url){
		return 'url('+slidePoster+url+')';
	},
	revolutionSliderActiver() {
		if ($('.rev_slider_wrapper #slider1').length) {
				jQuery("#slider1").revolution({
						sliderType: "standard",
						sliderLayout: "auto",
						delay: 5000,
						navigation: {
								arrows: { enable: true }
						},
						gridwidth: 1170,
						gridheight: 726
				});
		};
		if ($('.rev_slider_wrapper #slider2').length) {
				jQuery("#slider2").revolution({
						sliderType: "standard",
						sliderLayout: "auto",
						delay: 5000,
						navigation: {
								arrows: { enable: true }
						},
						gridwidth: 1170,
						gridheight: 642
				});
		};
		if ($('.rev_slider_wrapper #slider3').length) {
				jQuery("#slider3").revolution({
						sliderType: "standard",
						sliderLayout: "auto",
						delay: 5000,
						navigation: {
								arrows: { enable: true }
						},
						gridwidth: 1170,
						gridheight: 600
				});
		};
},
bootstrapAnimatedLayer() {

		/* Demo Scripts for Bootstrap Carousel and Animate.css article
		 * on SitePoint by Maria Antonietta Perna
		 */

		//Function to animate slider captions 
		function doAnimations(elems) {
				//Cache the animationend event in a variable
				var animEndEv = 'webkitAnimationEnd animationend';

				elems.each(function() {
						var $this = $(this),
								$animationType = $this.data('animation');
						$this.addClass($animationType).one(animEndEv, function() {
								$this.removeClass($animationType);
						});
				});
		}

		//Variables on page load 
		var $myCarousel = $('#minimal-bootstrap-carousel'),
				$firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

		//Initialize carousel 
		$myCarousel.carousel({
				interval: 20000
		});

		//Animate captions in first slide on page load 
		doAnimations($firstAnimatingElems);

		//Pause carousel  
		$myCarousel.carousel('pause');


		//Other slides to be animated on carousel slide event 
		$myCarousel.on('slide.bs.carousel', function(e) {
				var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
				doAnimations($animatingElems);
		});
}
    }
}
</script>