<template>
<div>
    <loading-component v-if="loading"></loading-component>
  <home-banner></home-banner>
<home-services></home-services>
<home-control-compliance></home-control-compliance>
<testimonial-slider></testimonial-slider>
<home-about></home-about>
<home-projects></home-projects>
<home-more-products></home-more-products>
<home-contact-form></home-contact-form>
  </div>
</template>

<script>
    export default {
        data(){
            return {
                loading:true
            }
        },
        created(){

        },
        mounted() {
            this.loading = false;
            this.closeMenuBar();
        },
        methods:{
            closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
        }
    }
</script>
