<template>
   <!-- We offer Different Services-->
          <section class="diff-offer-wrapper">
            <div class="container">
              <div class="row diff-offer">
                <ul>
                  <li class="we-offer-cont">
                    <h2>We offer<span>Different Services</span></h2>
                  </li>
                  <li class="we-offer-cont2">
                    <p>We have facilities and equipments to produce 21st century solar systems based on specially developed technology and designs. We are also ready to develop according to our customers' changing needs.</p>
                  </li>
                </ul>
              </div>
              <div class="row">
                <div v-for="service in services" :key="service.id" class="col-sm-4 service-info">
                  <div class="item">
                      <router-link :to="{name:'Service',params:{id:service.id,caption:transformToKebab(service.name)}}" class="post-image view image_hover">
                      <img :src="transformServicePoster(service.poster)" alt="" class="img-responsive zoom_img_effect">
                      </router-link>
                  <router-link :to="{name:'Service',params:{id:service.id,caption:transformToKebab(service.name)}}">
                      <h4>{{service.name}}</h4>
                      </router-link>
                    <p>{{service.description.substr(0,85)}}...</p>
                    <h6><router-link :to="{name:'Service',params:{id:service.id,caption:transformToKebab(service.name)}}">Read more</router-link></h6>
                  </div>
                </div>
            </div>
            </div>
          </section>
          <!-- We offer Different Services-->
          </template>
          <script>
export default{
    data(){
      return {
        services : []
      }
    },
    created(){
      var currentObj = this;
        bus.$on('get-services', function (services) {
          currentObj.services = services;
        });
    },
  methods:{
      transformToKebab(text){
        return _.kebabCase(text);
      },
      transformServicePoster(text){
        return servicePoster+text;
      }
  }
}
</script>