<template>
<div>
  <loading-component v-if="loading"></loading-component>
      <div class="container clearfix sectpad-sec">
            <div class="section_header2 common">
              <h2>More products</h2>
            </div>
            <div class="row event-pad home-products">
              <div v-for="product in moreProducts" :key="product.key" class="col-md-4 col-sm-4 col-xs-12 ">
                <div class="news-evn-img" style="width:360px;height:200px;">
                  <router-link :to="{name:'Product',params:{id:product.id,name:transformToKebab(product.product_name)}}" class="image_hover">
                     <img style="width:250px;" height="200" :src="transformProductPoster(product.poster)" alt="" class="img-responsive zoom_img_effect"></router-link>
                  <div class="event-date">
                    <h3>{{getDay(product.created_at)}}<small>{{getMonth(product.created_at)}}</small></h3>
                  </div>
                </div>
                <div class="news-evn-cont" style="width:360px">
                  <div class="news-meta">
                    <router-link :to="{name:'Product',params:{id:product.id,name:transformToKebab(product.product_name)}}">Price:₦ {{product.price}}</router-link>
                    </div>
                    <router-link :to="{name:'Product',params:{id:product.id,name:transformToKebab(product.product_name)}}">
                    <h3>{{product.product_name}}</h3>
                    </router-link>
                    <a @click="addToCart(product)" class="btn-cart cursor-pointer">Add to Cart</a>
                </div>
              </div>
            </div>
          </div>
          <!-- product solutions-->
  <section class="our-sol-wrapper clearfix">
            <div class="container clearfix">
              <p>We provide innovative <span>product solutions</span> for sustainable progress. Our professional team works to increase productivity and cost effectiveness on the market.</p>
            </div>
          </section>
          </div>
</template>

<script>
    export default {
      data(){
        return {
          loading: true,
          moreProducts: []
        }
      },
      created(){
        axios.get(randomProducts.replace('%s','6')).then((response)=>{
          this.moreProducts = response.data;
          this.initiateLazyLoading();
        }).catch((error)=>{
          showError('An error occured, please refresh the page');
        });
      },
        mounted() {
          this.loading= false
        },
        methods:{
           transformProductPoster(poster){
                return productPoster+poster;
            },
               transformToKebab(text){
        return _.kebabCase(text);
      },
             addToCart(product){
                this.loading = true;
                axios.post(addToCart,{
                    product: product
                }).then((response)=>{
                     this.loading = false;
                       bus.$emit('cart-added', product);
                }).catch((error)=>{
                   this.loading = false;
                    showError('An error occured, please try again');
                });
            },
            initiateLazyLoading(){
                setTimeout(()=>{
                    $('.lazy').lazy();
                    $('.home-products').owlCarousel({
                      loop:true,
					dots:false,
					nav: true,
					navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
          responsiveClass:true,
          responsive:true,
          	responsive: {
				0: {
						items: 1,
						autoWidth: false
				},
				480: {
						items: 2,
						autoWidth: false
				},
				600: {
						items: 3,
						autoWidth: false
				},
				1000: {
						items: 3,
						autoWidth: false
				}
		}
                    });
                },500);
            },
            getDay(dateString){
              var date = new Date(dateString);
              return date.getDate();
            },
            getMonth(dateString){
          var date = new Date(dateString);
              return monthNames[date.getMonth()].substring(0,3);
            }
        }
    }
</script>
