<template>
<div>
<loading-component v-if="loading"></loading-component>
    <div class="container clearfix ind-common-pad">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 our-t-client">
                <div class="section_header2 common">
                  <h2>our partners</h2>
                </div>
                <p> We are partner to a global leader in the solar retail business and together we are pioneering solar power revolution in Africa</p>
                <ul>
                  <li><img src="images/partners/simba.png" alt="" class="img-responsive"></li>
                  <li><img src="images/partners/lautech.png" alt="" class="img-responsive"></li>
                  <li><img src="images/partners/funaab.png" alt="" class="img-responsive"></li>
                </ul>
                <ul>
                  <li><img src="images/partners/10.jpg" alt="" class="img-responsive"></li>
                  <li><img src="images/partners/11.jpg" alt="" class="img-responsive"></li>
                  <li><img src="images/partners/12.jpg" alt="" class="img-responsive"></li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="section_header2 common">
                  <h2>Get in touch</h2>
                </div>
                <div class="get-t-touch">
                  <div class="get-t-touch-inner input_form service-request-form">
                    <form id="serviceForm" class="service_request">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input id="name" type="text" v-model="name" name="name" placeholder="Your Name:" class="form-control">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input id="email" type="email" v-model="email" name="email" placeholder="Your Email:" class="form-control">
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="select-box">
                          <select id="selectService" v-model="service" name="selectService" class="form-control">
                            <option selected value="Home, offices and Schools">Home offices and Schools</option>
                            <option value="Solar Farming">Solar Farming</option>
                            <option value="Telecoms Masts">Telecoms Masts</option>
                            <option value="Capacity Buildings">Capacity Buildings</option>
                            <option value="Solar ATMs">Solar ATMs</option>
                            <option value="Street Lightning">Street Lightning</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input id="phone" type="text" v-model="phone" name="phone" placeholder="Your Phone Number:" class="form-control">
                      </div>
                       <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                         <textarea col="300" class="form-control" name="message" row="150" maxlength="130" placeholder="Please enter a short message" v-model="message">
                         </textarea>
                      </div>
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submit-n-now">
                        <button @click="saveServiceRequest" class="submit">Submit Now <i class="fa fa-arrow-right"></i></button>
                      </div>
                    </form> 
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>   
</template>

<script>
    export default {
     
      data(){
        return {
        loading:false,
        name: '',
        email: '',
        service: '',
        phone: '',
        message:''
        }
      },
        mounted() {
            $('#serviceForm').submit((e)=>{
              e.preventDefault();
              this.prepFormValidation();
            });
        },
        methods:{
          saveServiceRequest(){
              $('#serviceForm').submit();
          },
          prepFormValidation(){
            var homeContactComponent = this;
              $('#serviceForm').validate({
            rules: {
                name: {
                    required: true,
                    minlength: 2
                },
                phone: {
                    required: true,
                    minlength: 2
                },
                email: {
                    required: true,
                    email: true
                },
                message:{
                    required:true,
                    minlength:10
                }
            },
            messages: {
                name: {
                    required: "Please provide name",
                    minlength: "your name must consist of at least 2 characters"
                },
                message: {
                    required: "Please provide a short message",
                    minlength: "Message must consist of at least 10 characters"
                },
                phone: {
                    required: "Please provide phone number",
                    minlength: "your phone number must consist of at least 2 characters"
                },
                email: {
                    required: "Please provide an email"
                },
            },
            submitHandler:  function(form) {
             var successCallback = ()=>{ 
               homeContactComponent.loading = true;
               axios.post(saveServiceRequest,{
              name: homeContactComponent.name,
              email: homeContactComponent.email,
              service: homeContactComponent.service,
              phone : homeContactComponent.phone,
              message: homeContactComponent.message,
            }).then((response)=>{
              homeContactComponent.loading= false;
              if(response.data.action){
                homeContactComponent.name = '';
                homeContactComponent.email = '';
                homeContactComponent.service = '';
                homeContactComponent.phone = '';
                homeContactComponent.message = '';
              showSuccess("Service Request",response.data.message);
              }
              else{
                showInfo(response.data.message);
              }
            }).catch((error)=>{
              homeContactComponent.loading= false;
              showError('An error occured, please try again');
            });
             }
             globalConfirmationDialog('Service Request', 'Do you wish to submit this service request?', successCallback, null);
            }
        })
          }
        }
    }
</script>
