
<template>
 <section class="latest-news1 sectpad">
        <div class="container clearfix">
          <div class="row">
            <div class="col-lg-6 about-sec-content">
              <div class="section_header2 common">
                <h2>About Us</h2>
              </div>
              <h4>OIC Solar is  a reliable renewable energy company registered as Olaade Innovative Concept ltd in Nigeria with RC number 814913 in 2009 and our vision is to be the source of renewable energy supply to 1 million  household and 5 thousand industries by 2030
                  </h4>
              <p>We have technical expertise in design, installation and maintenance of Power Systems</p>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li><i class="fa fa-arrow-circle-right"></i>Annual Company Growth of 40%</li>
                    <li><i class="fa fa-arrow-circle-right"></i>Over 50 Employed engineers</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul>
                    <li><i class="fa fa-arrow-circle-right"></i> Dedicated Maintenance team </li>
                    <li><i class="fa fa-arrow-circle-right"></i>Excellent Customer Relationship</li>
                  </ul>
                </div>
              </div>
              <div class="req-button about-but text-left"><router-link :to="{name:'About'}" class="submit">About Us <i class="fa fa-arrow-right"></i></router-link></div>
            </div>
            <div class="col-lg-6">
              <div class="section-faq">
                <div class="section_header2 common">
                  <h2>Frequently Ask questions</h2>
                </div>
                <div class="accordian-area accordian-area-pad">
                  <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
                    <div class="panel panel-default">
                      <div id="headingOne" role="tab" class="panel-heading">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                            <span>
                            How do i submit a request for OICSolar services?
                          </span><i class="fa fa-minus"></i><i class="fa fa-plus"></i></a></h4>
                      </div>
                      <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse">
                        <div class="panel-body faq-content">
                          <p>You can contact us via the phone number in the top header or fill the contact form below. Our Customer support will contact you via email or give you a call</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div id="headingTwo" role="tab" class="panel-heading">
                        <h4 class="panel-title on"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Do you sell solar-powered electronics?
                          <i class="fa fa-minus"></i><i class="fa fa-plus"></i></a></h4>
                      </div>
                      <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse in">
                        <div class="panel-body faq-content">
                          <p>Yes, we do. Navigate to our shop section and select items of your choice. Happy shopping</p>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div id="headingThree" role="tab" class="panel-heading">
                        <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed">
                          How do i submit enquiries?<i class="fa fa-minus"></i><i class="fa fa-plus"></i></a></h4>
                      </div>
                      <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
                        <div class="panel-body faq-content">
                          <p>
                              You can submit your enquiries, feedback and contributions via our contact form or send an email to our official email address at info@oicsolar.net
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      </template>
      <script>
export default{
    mounted(){
            this.accordion();
    },
    methods:{
        accordion(){
            
        }
    }
}
    </script>