<template>
<div>
        <loading-component v-if="loading"></loading-component>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="margin-top:15%;">
            <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Customer Login</h4>
      </div>
      <div class="modal-body">
          <form id="loginForm" >
            <div class="row">
              <div class="col-lg-12">
                <label>Email <span>*</span></label>
                <input type="email" class="form-control" placeholder="Email" v-model="loginEmail" name="email" required>
              </div>
              <div class="col-lg-12">
                <label>Password<span>*</span></label>
                <input type="password" class="form-control" placeholder="password" v-model="loginPassword" name="password" required>
            <div style="margin-top:20px; text-align:center;">  <button @click="prepLoginFormValidation" class="btn btn-danger cursor-pointer"> Login </button>    </div>         
              </div>
            </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div></div></div></div>
</template>
<script>
export default {
    data() {
        return {
           loginEmail:"",
           loginPassword:"", 
           loading:false
        }
    },
      mounted() {
    this.prepLoginFormValidation();
  },
    methods: {
       prepLoginFormValidation(){
      var checkoutComponent = this;
        $("#loginForm").validate({
            submitHandler: function(form) {
          checkoutComponent.authenticateUser();
        }
        });
    }, 
        authenticateUser(){
      this.loading = true;
      axios.post(authenticateUser,{
        email:this.loginEmail,
        password:this.loginPassword,
      }).then((response)=>{
        this.loading = false;
        if(response.data.authenticated){
          this.anonymousUser = false;
          this.authenticatedUser  = response.data.user;
          bus.$emit('user-auth', this.authenticateUser);
          this.cartProducts = response.data.cart;
          var currentObj = this;
            _.forEach(currentObj.cartProducts, function(value) {
               bus.$emit('cart-added', product);
        });
          showSuccess('Authentication','Your authentication was successful');
          setTimeout(() => {
              $('.btn-default').click();
          }, 800);
        
        }
        else{
          showInfo('Incorrect email or password');
        }
      }).catch((error)=>{
        this.loading = false;
        location.reload();
      });
    }, 
    },
}
</script>