<template>
<div>
    <loading-component v-if="loading"></loading-component>
     <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Offline Installation</h2>
      </div>
    </section>
        <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><router-link :to="{name:'Home'}">Home</router-link></li>
          <li><span>Offline Installtion</span></li>
        </ul>
      </div>
    </section>
        <section id="checkout-content" class="sec-padding">
      <div class="container">
          <div class="clearfix">
          <div class="col-lg-12 return-customer">
            <p v-if="anonymousUser">Returning customer? <a data-toggle="modal" data-target="#myModal" href="#">Click here to login</a></p>
            <p v-if="!anonymousUser">Welcome, {{authenticatedUser.first_name}}!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 left-checkout">
            <div class="section_header color">
              <h2>Customer DETAILS</h2>
            </div>
             <form v-if="anonymousUser" id="installationForm" >
            <div class="row">
              <div class="col-lg-6">
                <label>First Name <span>*</span></label>
                <input type="text" placeholder="First Name" v-model="firstName" name="first_name" required>
              </div>
              <div class="col-lg-6">
                <label>Last Name <span>*</span></label>
                <input type="text" placeholder="Last Name" v-model="lastName" name="last_name" required>
              </div>
            </div>
             <div class="row">
              <div class="col-lg-6">
                <label>Email Address <span>*</span></label>
                <input type="email" class="form-control" placeholder="Email Address" v-model="email" name="email" required>
              </div>
              <div class="col-lg-6">
                <label>Phone <span>*</span></label>
                <input type="text" placeholder="Phone" v-model="phone" name="phone" required>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label>Town / City <span>*</span></label>
                <input type="text" placeholder="Town / City" name="town" v-model="town" required>
              </div>
               <!-- <div class="col-lg-6">
                <label>Type of Installation <span>*</span></label>
                <select name="type" v-model="type" class="form-control">
                  <option>Solar power only</option>
                   <option>Inverter only</option>
                   <option>Solar power and Inverter</option>
                </select>
              </div> -->
            </div>
             <div class="row">
              <div class="col-lg-6">
                <label>Country <span>*</span></label>
                <div class="select-box">
                  <select name="country" class="form-control" v-model="country" required>
                    <option value="Nigeria">Nigeria</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <label>State <span>*</span></label>
                <div class="select-box">
                  <select name="state" class="form-control" v-model="state" required>
                   <option>ABUJA FCT</option>
<option>ABIA</option>
<option>ADAMAWA</option>
<option>AKWA IBOM</option>
<option>ANAMBRA</option>
<option>BAUCHI</option>
<option>BAYELSA</option>
<option>BENUE</option>
<option>BORNO</option>
<option>CROSS RIVER</option>
<option>DELTA</option>
<option>EBONYI</option>
<option>EDO</option>
<option>EKITI</option>
<option>ENUGU</option>
<option>GOMBE</option>
<option>IMO</option>
<option>JIGAWA</option>
<option>KADUNA</option>
<option>KANO</option>
<option>KATSINA</option>
<option>KEBBI</option>
<option>KOGI</option>
<option>KWARA</option>
<option>LAGOS</option>
<option>NASSARAWA</option>
<option>NIGER</option>
<option>OGUN</option>
<option>ONDO</option>
<option>OSUN</option>
<option>OYO</option>
<option>PLATEAU</option>
<option>RIVERS</option>
<option>SOKOTO</option>
<option>TARABA</option>
<option>YOBE</option>
<option>ZAMFARA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label>Residential Address <span>*</span></label>
                <textarea type="text" placeholder="Residential address" v-model="address" name="address" required></textarea>
              </div>
            </div>
           
            <div class="row">
              <div class="col-lg-12">
                <label>Note</label>
                <textarea v-model="note" placeholder="Note about your installation"></textarea>
              </div>
            </div>
             <div class="clearfix">
              <button type="submit" class="btn btn-success cursor-pointer submit"> Submit </button>     
        </div>
        </form>
        <div v-if="!anonymousUser">
          <p>First Name: <span class="pull-right">{{authenticatedUser.first_name}}</span></p>
          <p>Last Name: <span class="pull-right">{{authenticatedUser.last_name}}</span></p>
          <p>Phone Number: <span class="pull-right">{{authenticatedUser.phone_number}}</span></p>
          <p>Email: <span class="pull-right">{{authenticatedUser.email}}</span></p>
          <p>Address: <span class="pull-right">{{authenticatedUser.address}}</span></p>
          <p>Country: <span class="pull-right">{{authenticatedUser.country}}</span></p>
           <div class="row">
              <div class="col-lg-12">
                <label>Order Notes</label>
                <textarea v-model="note" placeholder="Note about your order. e.g. special note for delivery"></textarea>
              </div>
            </div>
                      <div style="margin-top:20px; text-align:center;">  <button @click="logOutUser" class="btn btn-danger cursor-pointer"> Sign out </button>    </div>         
          </div>
          </div>
        </div>
      </div>
    </section>
    <login-form></login-form>
  </div>
</template>
<script>
export default {
     data() {
    return {
      authenticatedUser:{},
      loading:false,
      anonymousUser: true,
      firstName: "",
      lastName: "",
      email: "",
      phone: "",
      note: "",
      address: "",
      state: "Abia",
      country: "Nigeria",
      town: "",
      loginPassword:"",
      loginEmail:"",
      type:"Solar only"
    };
  },
  created() {
    this.checkAuthentication();
     bus.$on('user-auth', (user)=> {
         var currentObj = this;
         currentObj.lastName = user.last_name;
         currentObj.firstName = user.first_name;
         currentObj.email = user.email;
     });
  },
  mounted() {
    this.getStateFromIp(); 
    this.prepFormValidation();
    this.closeMenuBar(); 
  },
  methods: {
      logOutUser(){
      this.loading = true;
      axios.get(logOut).then((response)=>{
        this.anonymousUser = true;
        this.authenticatedUser = {};
        this.loading = false;
        var currentObj = this;
        _.forEach(currentObj.cartProducts, function(value) {
               bus.$emit('product-removedHeader', value);
        });
         this.cartProducts = [];
      }).catch((error)=>{
        this.loading = false;
      });
    },
     checkAuthentication() {
      axios.get(checkUser).then((response)=>{
          if(response.data.authenticated){
          this.anonymousUser = false;
          this.authenticatedUser = response.data.user;
        }
      }).catch((error)=>{
      });
    },
    getStateFromIp(){
        axios.get(geolocationApi).then((response)=>{
          this.state = response.data.state_prov.toUpperCase();
          this.town = response.data.city;
      }).catch((error)=>{
      });
    },
    closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
    },
        prepFormValidation() {
      var checkoutComponent = this;
      $("#installationForm").validate({
        rules: {
          first_name: {
            required: true,
            minlength: 2
          },
          last_name: {
            required: true,
            minlength: 2
          },
          phone: {
            required: true,
            minlength: 2
          },
          email: {
            required: true,
            email: true
          },
          address: {
            required: true
          }
        },
        messages: {
          first_name: {
            required: "Please provide your first name",
            minlength: "your name must consist of at least 2 characters"
          },
          last_name: {
            required: "Please provide your last name",
            minlength: "your name must consist of at least 2 characters"
          },
          phone: {
            required: "Please provide phone number",
            minlength: "your phone number must consist of at least 2 characters"
          },
          email: {
            required: "Please provide an email"
          }
        },
        submitHandler: function(form) {
          checkoutComponent.sendOrderToDb();
        }
      });
    },
      sendOrderToDb() {
      var successCallback = () => {
        this.loading = true;
        axios
          .post(offlineInstallation, {
            first_name: this.firstName,
            email: this.email,
            last_name: this.lastName,
            phone: this.phone,
            note: this.note,
            town: this.town,
            address: this.address,
            country: this.country,
            state:this.state
          })
          .then(response => {
            this.loading = false;
            if (response.data.action) {
            this.firstName = '';
            this.email = '';
            this.lastName = '';
            this.phone = '';
            this.note = '';
            this.town = '';
            this.address = '';
            this.password = '';
            this.country = '';
            this.state = '';
              showSuccess("Offine Installation", response.data.message);
            } else {
              showInfo(response.data.message);
            }
          })
          .catch(error => {
            this.loading = false;
            showError("An error occured, please try again");
          });
      };
      globalConfirmationDialog(
        "Offline Installation",
        "Do you wish to submit this order?",
        successCallback,
        null
      );
    }
  },
}
</script>