<template>
    <div>
        <loading-component v-if="loading"></loading-component>
        <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Product Details</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><router-link :to="{name:'Home'}">Home</router-link></li>
          <li><span>Product Details</span></li>
        </ul>
      </div>
    </section>
    <!-- News Page-->
    <section class="core-projects sectpad shop-page">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-4 col-sm-12 pull-left">
            <div>
              <!-- Search-->
              <div class="widget-search-blog">
                <div class="row widget-inner">
                  <form action="#" method="get" class="search-form">
                    <div class="input-group">
                      <input type="search" placeholder="Enter Search keywords" class="form-control"><span class="input-group-addon">
                        <button type="submit"><i class="icon icon-Search"></i></button></span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="single-sidebar-widget">
                <div class="sec-title">
                  <h2><span>Categories</span></h2>
                </div>
                <div class="categories">
                  <ul>
                    <li><router-link :to="{name:'Shop',query:{page:1}}">Solar products</router-link></li>
                  </ul>
                </div>
              </div>
              <div class="single-sidebar-widget">
                <div class="sec-title">
                  <h2><span>Best Seller</span></h2>
                </div>
                <div class="popular-post best-seller">
                  <ul>
                    <li v-for="product in shuffleProducts" :key="product.id" class="img-cap-effect">
                      <div class="img-box">
                          <router-link :to="{name:'Product',params:{id:product.id,name:transformToKebab(product.product_name)}}">
                              <img width="110" height="84" :src="transformProductPoster(product.poster)"  :alt="product.product_name">
                              </router-link ></div>
                      <div class="content"><a href="#">
                          <h4>{{product.product_name}}</h4></a>
                        <p>₦{{product.price}}</p><router-link :to="{name:'Product',params:{id:product.id,name:transformToKebab(product.product_name)}}" class="read-more">More Info</router-link>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="single-sidebar-widget">
                <div class="sec-title">
                  <h2><span>Tag clouds</span></h2>
                </div>
                <div class="tag-cloud">
                  <ul>
                    <li><router-link :to="{name:'Shop',query:{page:1}}">Solar Products</router-link></li>
                    <li><router-link :to="{name:'Shop',query:{page:1}}">Solar panels</router-link></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 pull-right">
            <!-- News-->
            <div class="product-details-content">
              <div class="img-box"><img width="306" height="418"  :src="transformProductPoster(currentProduct.second_poster)" :alt="currentProduct.product_name"></div>
              <div class="content-box">
                <div class="title">
                  <h3>{{currentProduct.product_name}}</h3>
                </div>
                <div class="content-text">
                  <p>{{currentProduct.product_description}}</p>
                </div>
                <p class="price">Price : <span>₦{{currentProduct.price}}</span></p>
                <p class="quantity">Quantity : 
                  <input type="number" value="1">
                </p><a @click="addToCart(currentProduct)" class="cart-btn cursor-pointer">Add to cart</a>
              </div>
            </div>
            <div class="product-tab-box">
              <div class="tab-title-box">
                <ul>
                  <li data-tab-name="software" class="active"><a href="#des" aria-controls="des" role="tab" data-toggle="tab">Descripton</a></li>
                  <li data-tab-name="software"><a href="#speci" aria-controls="speci" role="tab" data-toggle="tab">Specification</a></li>
                  <li data-tab-name="software"><a href="#review" aria-controls="review" role="tab" data-toggle="tab">Review (0)</a></li>
                </ul>
              </div>
              <div class="tab-content">
                <div id="des" class="single-tab-content tab-pane fade in active">
                  <p>{{currentProduct.product_description}}</p>
                </div>
                <div id="speci" class="single-tab-content tab-pane fade">
                  <p>Specification not available</p>
                </div>
                <div id="review" class="single-tab-content tab-pane fade">
                  <p>Review not available</p>
                </div>
              </div>
            </div>
            <div class="section_header color mt30">
              <h2>Related Products</h2>
            </div>
            <div class="row shop-item-wrapper">
              <div v-for="product in relatedProducts" :key="product.id" class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-shop-item">
                  <div class="img-box"><img width="250" height="200" :src="transformProductPoster(product.poster)" :alt="product.product_name"></div>
                  <div class="content"><a href="product.html">
                      <h3>{{product.product_name}}</h3></a>
                    <div class="review-box"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <span class="price">₦{{product.price}}</span>
                    <a @click="addToCart(product)" class="thm-btn cursor-pointer">Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        props:['id','name']
        ,
        data(){
            return {
                loading : false,
                currentProduct : {},
                relatedProducts : [],
                shuffleProducts:[],
            }
        },
        mounted() {
            this.closeMenuBar();
        },
        created(){
            this.loadCurrentProduct();
            this.loadProducts();
        },
         watch:{
            $route(to,from){
                this.loadCurrentProduct();
                this.loadProducts();
            },
        },
        methods:{
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
            loadCurrentProduct(){
                this.loading = true;
            axios.get(productDetails.replace('%s',this.$route.params.id)).then((response)=>{
                this.currentProduct = response.data;
                this.loading = false;
            }).catch((error)=>{
                this.loading = false;
                showError(JSON.stringify(error));
            });
            },
              transformProductPoster(poster){
                return productPoster+poster;
            },
            loadProducts(){
                this.loading = true;
            axios.get(randomProducts.replace('%s',12)).then((response)=>{
                this.loading = false;
                this.relatedProducts = response.data;
                this.shuffleProducts = _.sampleSize(response.data, 6);
              this.initiateLazyLoading();
            }).catch((error)=>{
                this.loading = false;
                showError('An error occured, please try again');
            });
            },
             initiateLazyLoading(){
                setTimeout(()=>{
                    $('.lazy').lazy();
                },500);
            },
              transformToKebab(text){
        return _.kebabCase(text);
      },
       addToCart(product){
                this.loading = true;
                axios.post(addToCart,{
                    product: product
                }).then((response)=>{
                     this.loading = false;
                       bus.$emit('cart-added', product);
                }).catch((error)=>{
                     this.loading = false;
                showError('An error occured, please try again');
                });
            },
        }
    }
</script>
