<template>
    <div>
    <loading-component v-if="loading"></loading-component>
         <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Search results</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li>
        <router-link :to="{name:'Home'}"><i class="fa fa-home"></i>Home</router-link>
              </li>
          <li><span>Search</span></li>
        </ul>
      </div>
    </section>
       <section class="our-galler-htwo clearfix sectpad">
            <div class="container clearfix">
              <div class="section_header3 section_header2 common">
                <h2>Our Gallery</h2>
              </div>
            </div>
            <div class="fullwidth-silder">
              <div class="fullwidth-slider">
                <div class="item" v-for="item in galleryResults" :key="item.id">
                  <div class="img-holder"><a :href="transformPoster(item.poster)" class="tt-gallery-1 lightbox"><span class="tt-gallery-1-overlay"></span>
                      <div class="project-post-image image_hover"><img width="348" height="252" :src="transformPoster(item.poster)" :alt="item.caption" class="zoom_img_effect"><span class="tt-gallery-1-caption"><span class="tt-gallery-1-caption-table"><span class="tt-gallery-1-caption-inner"><span class="tt-gallery-1-search"><i class="fa fa-search"></i></span></span></span></span></div></a></div>
                </div>
              </div>
            </div>
                         
          </section>
          <div class="container">
              <div class="col-md-12 col-sm-12 pull-right">
            <!-- News-->
            <div class="section_header color">
              <h2>Solar Products</h2>
            </div>
            <div class="row shop-item-wrapper">
            
              <div v-for="product in shopResults" :key="product.id" class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-shop-item">
                  <div class="img-box"><img class="lazy" width="250" height="200"  :data-src="transformProductPoster(product.poster)" :alt="product.product_name"></div>
                  <div class="content"><a href="product.html">
                      <h3>{{product.product_name}}</h3></a>
                    <div class="review-box"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <span class="price">₦{{product.price}}</span><a @click="addToCart(product)" class="thm-btn cursor-pointer">Add To Cart</a>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>
               <div class="row" style="margin-top:20px;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="indurial-solution-text text-center">
                    <ul class="page-navigation">
              <li><router-link v-if="currentPage>1" :to="{name:'Search',query:{q:query,page:parseInt(currentPage)-1}}"><i class="fa fa-long-arrow-left"></i></router-link></li>
              <li v-for="x in 4" :key="x"><router-link :class="{'pagination-active':x==currentPage}" :to="{name:'Search',query:{q:query,page:x}}" >{{x}}</router-link></li>
            <li v-if="currentPage>4"><router-link class="pagination-active" :to="{name:'Search',query:{q:query,page:currentPage}}" >{{currentPage}}</router-link></li>
              <li v-if="isResultsRemaining"><router-link :to="{name:'Search',query:{q:query,page:parseInt(currentPage)+1}}"><i class="fa fa-long-arrow-right"></i></router-link></li>
            </ul>
                  </div>
                </div>
              </div> 
    </div>
</template>

<script>
    export default {
        props:['query'],
        data(){
            return {
                galleryResults:[],
                shopResults:[],
                loading:false,
                isResultsRemaining:true,
                currentPage:1
            }
        },
        created(){
            this.fetchData();
        },
          watch:{
            $route(to,from){
                this.currentPage = to.query.page;
                this.fetchData();
            },
        },
        mounted() {
            console.log('Component mounted.');
            this.closeMenuBar();
        },
        methods:{
            closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
            transformPoster(text){
                return galleryPoster+text;
            },
             transformProductPoster(poster){
                return productPoster+poster;
            },
            addToCart(product){
                this.loading = true;
                axios.post(addToCart,{
                    product: product
                }).then((response)=>{
                     this.loading = false;
                       bus.$emit('cart-added', product);
                }).catch((error)=>{
                    showError(JSON.stringify(error));
                     this.loading = false;
                });
            },
            fetchData(){
                this.loading = true;
            axios.get(searchApplication,{
                params:{
                    q:this.query,
                    page:this.currentPage
                }
            }).then((response)=>{
                this.loading = false;
                this.galleryResults = response.data.gallery.data;
                this.shopResults = response.data.products.data;
               setTimeout(()=>{
            this.fullwidthslider();
            $('.lazy').lazy();
            },400);
            }).catch((error)=>{
                this.loading  = false;
            });
            },
              fullwidthslider (){
            var $carouselData = $('.fullwidth-slider').data('owlCarousel');
             if( typeof $carouselData != 'undefined' ) {
            $carouselData.destroy();
        }
			$('.fullwidth-slider').owlCarousel({
					loop:true,
					margin:30,
					items:5,
					dots:false,
					nav: true,
					navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
					responsiveClass:true,
					responsive:{
							0:{
									items:1
							},
							481:{
									items:2
							},
							700:{
									items:2
							},
							992:{
									items:5,
							}
					}
            });   
            this.initiateLightBox();
        },
          initiateLightBox(){
    var activityIndicatorOn = function(){
    $('<div id="imagelightbox-loading"><div></div></div>').appendTo('body');
};
var activityIndicatorOff = function(){
    $('#imagelightbox-loading').remove();
};

/*close button functions*/
var closeButtonOn = function(instance){
    $('<button type="button" id="imagelightbox-close" title="Close"></button>').appendTo('body').on('click touchend', function(){ $(this).remove(); instance.quitImageLightbox(); return false; });
};
var closeButtonOff = function(){
    $('#imagelightbox-close').remove();
};

/*overlay*/
var overlayOn = function(){$('<div id="imagelightbox-overlay"></div>').appendTo('body');};
var overlayOff = function(){$('#imagelightbox-overlay').remove();};

/*caption*/
var captionOff = function(){$('#imagelightbox-caption').remove();};
var captionOn = function(){
    var description = $('a[href="' + $('#imagelightbox').attr('src') + '"] img').attr('alt');
    if(description.length)
        $('<div id="imagelightbox-caption">' + description +'</div>').appendTo('body');
};

/*arrows*/
var arrowsOn = function(instance, selector) {
    var $arrows = $('<button type="button" class="imagelightbox-arrow imagelightbox-arrow-left"><i class="fa fa-chevron-left"></i></button><button type="button" class="imagelightbox-arrow imagelightbox-arrow-right"><i class="fa fa-chevron-right"></i></button>');
    $arrows.appendTo('body');
    $arrows.on('click touchend', function(e) {
        e.preventDefault();
        var $this = $(this);
        if( $this.hasClass('imagelightbox-arrow-left')) {
            instance.loadPreviousImage();
        } else {
            instance.loadNextImage();
        }
        return false;
    });
};  
var arrowsOff = function(){$('.imagelightbox-arrow').remove();};    
        
var selectorG = '.lightbox';
if($(selectorG).length){
    var instanceG = $(selectorG).imageLightbox({
        quitOnDocClick: false,
        onStart:        function() {arrowsOn(instanceG, selectorG);overlayOn(); closeButtonOn(instanceG);},
        onEnd:          function() {arrowsOff();captionOff(); overlayOff(); closeButtonOff(); activityIndicatorOff();},
        onLoadStart:    function() {captionOff(); activityIndicatorOn();},
        onLoadEnd:      function() {$('.imagelightbox-arrow').css('display', 'block');captionOn(); activityIndicatorOff();}
    });     
}
}
        }
    }
</script>
