<template>
<div>
  <loading-component v-if="loading"></loading-component>
     <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>{{service.name}}</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li>
          <router-link :to="{name:'Home'}">Home</router-link>
            </li>
          <li><a href="javascript::void(0)">Services</a></li>
          <li><span>{{service.name}}</span></li>
        </ul>
      </div>
    </section>
       <section class="single-service-page sectpad">
      <div class="container clearfix">
        <div class="row">
          <div class="single-side-left">
            <div class="single-sidebar-widget">
              <div class="special-links">
                <ul>
                   <li :class="{active: serviceId==service.id}" v-for="service in services" :key="service.id">
    <router-link :to="{name:'Service',params:{id:service.id,caption:transformToKebab(service.name)}}">{{service.name}}</router-link>
                    </li>
                </ul>
              </div>
            </div>
            <div class="single-sidebar-widget">
              <div class="single-service-pdf">
                <h3><a href="#">Download Brochure</a></h3>
              </div>
            </div>
            <div class="single-sidebar-widget">
              <div class="single-service-contact">
                <h3>	Contact us for help?</h3>
                <p>Contact with us through our representative  or submit a business inquiry online.</p>
                <router-link :to="{name:'Contact'}">Contact Us<i class="fa fa-angle-double-right"></i></router-link>
              </div>
            </div>
          </div>
          <div class="content-right pull-right tab-content">
            <!-- meterial engineering-->
            <div id="meterial" class="tab-pane fade in active"><img  :src="transformServicePoster(service.third_poster)" alt="">
              <div class="sec-title">
                <h2><span>{{service.name}}</span></h2>
                <p>{{service.description}}</p>
                      </div>
              <div class="image-caption-box">
                <div class="caption-box-img pad46"><img  width="248" height="199" :src="transformServicePoster(service.poster)" alt="Awesome Image"></div>
                <div class="text-box">
                  <h2>Our Research </h2>
                  <p>Our research are fast paced</p>
                </div>
              </div>
              <div class="image-caption-box">
                   <div class="caption-box-img pad46"><img width="248" height="199" :src="transformServicePoster(service.second_poster)" alt="Awesome Image"></div>
                <div class="text-box pad46">
                  <h2>We are dedicated to our work</h2>
                  <p> We pride in our dedication to our customers </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
      created(){
         axios.get(getServices).then((response)=>{
      this.services = response.data;
      var currentService = {};
      var serviceId = this.serviceId;
      _.forEach(response.data, function(value) {
  if(value.id==serviceId){
    currentService= value;
  }
});
this.service = currentService;
    }).catch((error)=>{
      showError('An error occured. Please refresh page');
    });
      },
      data(){
        return {
          services: [],
          service : {},
          serviceId: this.$route.params.id,
          loading: false,
        }
      },
      watch: {
    $route(to, from) {
      this.loading = true;
      var currentService = {};
      _.forEach(this.services, function(value) {
  if(value.id==to.params.id){
    currentService= value;
  }
});
this.service  = currentService;
this.serviceId = currentService.id;
this.loading = false;
   },
  },
        mounted() {
            this.closeMenuBar();
        },
        methods:{
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
           transformToKebab(text){
        return _.kebabCase(text);
      },
      transformServicePoster(text){
        return servicePoster+text;
      }
        }
    }
</script>
