<template>
    <div>
        <loading-component v-if="loading"></loading-component>
         <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Shop Page</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li>
        <router-link :to="{name:'Home'}"><i class="fa fa-home"></i>Home</router-link>
              </li>
          <li><span>Shop Page</span></li>
        </ul>
      </div>
    </section>
     <section class="core-projects sectpad shop-page">
      <div class="container clearfix">
        <div class="row">
          <div class="col-md-4 col-sm-12 pull-right">
            <div>
              <!-- Search-->
              <div class="widget-search-blog">
                <div class="row widget-inner">
                  <div class="search-form">
                    <div class="input-group">
                      <input type="search" @keypress.enter="navigateToSearch" v-model="search" placeholder="Enter Search keywords" class="form-control"><span class="input-group-addon">
                        <button  @click="navigateToSearch"><i class="icon icon-Search"></i></button></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-sidebar-widget">
                <div class="sec-title">
                  <h2><span>Categories</span></h2>
                </div>
                <div class="categories">
                  <ul>
                    <li><router-link :to="{name:'Shop',query:{page:1}}">Solar products</router-link></li>
                  </ul>
                </div>
              </div>
              <div class="single-sidebar-widget">
                <div class="sec-title">
                  <h2><span>Best Seller</span></h2>
                </div>
                <div class="popular-post best-seller">
                  <ul>
                    <li v-for="product in shuffleProducts" :key="product.id" class="img-cap-effect">
                      <div class="img-box"><a href="news-details.html"><img width="110" height="84" class="lazy"  :data-src="transformProductPoster(product.poster)" :alt="product.product_name"></a></div>
                      <div class="content"><a href="#">
                          <h4>{{product.product_name}}</h4></a>
                        <p>₦{{product.price}}</p><router-link :to="{name:'Product',params:{id:product.id,name:transformToKebab(product.product_name)}}" class="read-more">More Info</router-link>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="single-sidebar-widget">
                <div class="sec-title">
                  <h2><span>Tag clouds</span></h2>
                </div>
                <div class="tag-cloud">
                  <ul>
                    <li><a href="#">Warehouse</a></li>
                    <li><a href="#">Ocean frieght</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 pull-right">
            <!-- News-->
            <div class="section_header color">
              <h2>featured Products</h2>
            </div>
            <div class="row shop-item-wrapper">
            
              <div v-for="product in shopProducts" :key="product.id" class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-shop-item">
                  <div class="img-box"><img class="lazy" width="250" height="200"  :data-src="transformProductPoster(product.poster)" :alt="product.product_name"></div>
                  <div class="content"><a href="product.html">
                      <h3>{{product.product_name}}</h3></a>
                    <div class="review-box"><i class="fa fa-star"></i><i class="fa fa-star"></i>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    <span class="price">₦{{product.price}}</span><a @click="addToCart(product)" class="thm-btn cursor-pointer">Add To Cart</a>
                  </div>
                </div>
              </div>
            </div>
            <ul class="page-navigation text-left">
              <li><router-link v-if="currentPage>1" :to="{name:'Shop',query:{page:parseInt(currentPage)-1}}"><i class="fa fa-long-arrow-left"></i></router-link></li>
              <li v-for="x in 4" :key="x"><router-link :class="{'pagination-active':x==currentPage}" :to="{name:'Shop',query:{page:x}}" >{{x}}</router-link></li>
            <li v-if="currentPage>4"><router-link class="pagination-active" :to="{name:'Shop',query:{page:currentPage}}" >{{currentPage}}</router-link></li>
              <li v-if="isProductsRemaining"><router-link :to="{name:'Shop',query:{page:parseInt(currentPage)+1}}"><i class="fa fa-long-arrow-right"></i></router-link></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                loading: false,
                currentPage : 1,
                isProductsRemaining: true,
                shopProducts : [],
                shuffleProducts: [],
                search:'',
            }
        },
        created(){
          this.loadProducts();
        
        },
        watch:{
            $route(to,from){
                this.currentPage = to.query.page;
                this.loadProducts();
            },
        },
        mounted() {
            this.closeMenuBar();
        },
        methods:{
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
          navigateToSearch(){
        // if(this.toggleSearch){
        if(this.search.trim().length>2){
          this.$router.push({ name: 'Search', query: { q: encodeURIComponent(this.search.trim()) }});
        }
        else{
          showInfo('Please enter at least two characters');
        }
        // }
        // this.toggleSearch = true;
      },
            loadProducts(){
                this.loading = true;
            axios.get(getProducts,{
                params:{
                    page: this.$route.query.page
                }
            }).then((response)=>{
                this.loading = false;
                if(response.data.data.length>0){
                this.shopProducts = response.data.data;
                this.shuffleProducts = _.sampleSize(response.data.data, 6);
                this.currentPage = this.$route.query.page;
                }
                else{
                    this.isProductsRemaining = false;
                    showInfo('No more products to display');   
                } 
              this.initiateLazyLoading();
            }).catch((error)=>{
                this.loading = false;
                showError('An error occured, please try again');
            });
            },
            transformProductPoster(poster){
                return productPoster+poster;
            },
            initiateLazyLoading(){
                setTimeout(()=>{
                    $('.lazy').lazy();
                },500);
            },
            addToCart(product){
                this.loading = true;
                axios.post(addToCart,{
                    product: product
                }).then((response)=>{
                     this.loading = false;
                       bus.$emit('cart-added', product);
                }).catch((error)=>{
                    showError('An error occured, please try again');
                     this.loading = false;
                });
            },
             transformToKebab(text){
        return _.kebabCase(text);
      }
        }
    }
</script>
