<template>
<div>
    <section class="fluid-service-area-home">
            <div class="work-image-ser"><img src="images/services/ser-img-left.jpeg" alt=""></div>
            <div class="service-promo">
              <div class="service-t-content">
                <div class="test-quote-sec"><img src="images/quote-n.png" alt=""></div>
                <div class="testimonial-t-sec">
                  <div class="testimonialn-slider">
                    <div class="item">
                      <div class="name-content clearfix">
                        <div class="tst-img"><img src="images/ceo.png" alt=""></div>
                        <div class="client-name">
                          <p>OICSolar is a great firm<span>Olaoluwa Adegoke (CEO & Founder)</span></p>
                          <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="content clearfix">
                        <p>We are here to make the world a safer global community</p>
                      </div>
                      <div class="sign text-right"><img src="images/sign-n.png" alt=""></div>
                    </div>
                    <div class="item">
                      <div class="name-content clearfix">
                        <div class="tst-img"><img src="images/test-img2.png" alt=""></div>
                        <div class="client-name">
                          <p>NanoTech <span> CEO</span></p>
                          <ul>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="content clearfix">
                        <p>We have a working relationship with OICSolar and i must say, their reputation precedes them</p>
                      </div>
                      <div class="sign text-right"><img src="images/sign-n.png" alt=""></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
            <!-- LOOKING AN ADEQUATE-->
      <section class="looking-wrapper clearfix">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="indurial-solution-text2">
                <h2>LOOKING FOR AN OFFLINE SOLAR/INVERTER INSTALLATION?</h2>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right">
              <div class="req-button text-right">
                <router-link :to="{name:'Offline-Installation'}" class="submit">Installation <i class="fa fa-arrow-right"></i></router-link></div>
            </div>
          </div>
        </div>
      </section>
      <!-- LOOKING AN ADEQUATE-->
      </div>
</template>

<script>
    export default {
        mounted() {
            setTimeout(()=>{
              this.testimonialSlider();
            }, 700); 
        },
        methods:{
            testimonialSlider(){
            $('.testimonialn-slider').owlCarousel({
		loop: true,
		responsive: {
				0: {
						items: 1
				},
				600: {
						items: 1
				},
				1000: {
						items: 1
				}
		}
        });
        }
        },
    }
</script>
