<template>
    <div >
          <loading-component v-if="loading"></loading-component>
         <!-- Inner Header-->
    <section class="inner-banner2 clearfix">
      <div class="container clearfix">
        <h2>Work History</h2>
      </div>
    </section>
    <section class="breadcumb-wrapper">
      <div class="container clearfix">
        <ul class="breadcumb">
          <li><router-link :to="{name:'Home'}">Home</router-link></li>
          <li><span>Work History</span></li>
        </ul>
      </div>
    </section>
        <!-- Team-->
        <section class="sectpad testimonial-area">
      <div class="container clearfix">
        <div class="section_header">
          <h2>Our work history</h2>
        </div>
        <div class="testimonial-sliders">
          <div v-for="(chunk, index) in slides" :key="index" class="item">
            <div v-for="item in chunk" :key="item.id"  class="media testimonial">
              <div class="media-left"><a v-bind:href="computeSlideBg(item.background_image)"><img :src="computeSlideBg(item.background_image)" alt=""></a></div>
              <div class="media-body">
                <p>{{item.text}}</p>
              </div>
            </div>
          </div>
        </div>
        </div>
    </section>
    <section class="our-client sectpad">
      <div class="container clearfix">
        <div class="section_header">
          <h2>Our Partners</h2>
        </div>
        <div class="client-carousel">
          <div class="client-slider">
            <div class="item"><img src="images/partners/funaab.png" alt=""></div>
            <div class="item"><img src="images/partners/simba.png" alt=""></div>
            <div class="item"><img src="images/partners/lautech.png" alt=""></div>
            <div class="item"><img src="images/partners/10.jpg" alt=""></div>
            <div class="item"><img src="images/partners/11.jpg" alt=""></div>
            <div class="item"><img src="images/partners/12.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
    </div>
</template>

<script>
    export default {
      created(){
		this.getSlidesData();
      },
      data(){
    return {
      slides : [],
      loading:true
    }
  },
        mounted() {
        this.closeMenuBar();
        },
        methods:{
          getSlidesData() {
      axios
        .get(workhistory_slides)
        .then(response => {
          if (_.isArray(response.data)) {
            if (response.data.length > 0) {
              this.slides =  _.chunk(response.data, 2);
              this.initiateSlider();
            }
          }
        })
        .catch(error => {
          // showError("An error occured, please refresh page");
        });
	},
	computeSlideBg(url){
		return slidePoster+url;
	},
          closeMenuBar(){
 var navStatus = $('.nav-t-header').css('display');
          var pcState = "none";
          var mobileState = "block";
          if(navStatus===pcState){
          }
          else if(navStatus===mobileState){
            if($('.nav-t-footer').css('display') ===mobileState){
            $('#nav-button').click();
            }
          }
          },
            initiateSlider(){
                setTimeout(()=>{
   $('.testimonial-sliders').owlCarousel({
		loop: true,
		margin: 30,
		items: 2,
		nav: true,
		dots:false,
		navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
    responsiveClass: true,
    autoplay: true,
		responsive: {
				0: {
						items: 1
				},
				1200: {
						items: 2
				},
				1024: {
						items: 2
				}
		}
})
$('.client-slider').owlCarousel({
		loop: true,
		margin: 27,
		nav: false,
		dots: false,
		autoWidth: true,
		autoplay: true,
		responsive: true,
		autoplayTimeout: 3000,
		autoplayHoverPause: true,
		responsive: {
				0: {
						items: 1,
						autoWidth: false
				},
				480: {
						items: 2,
						autoWidth: false
				},
				600: {
						items: 3,
						autoWidth: false
				},
				1000: {
						items: 6,
						autoWidth: false
				}
		}
})
this.loading = false;
                },500);
            }
        }
    }
</script>
